<div *ngIf="product.title" class="card">

  <div class="card-header" style="background-color: whitesmoke"  >
    <h3 class="card-title"><strong>{{ product.title }}</strong></h3>
  </div>
<div class="card-body" >

  <img *ngIf="product.imageUrl" [src]="product.imageUrl" class="card-img-top" alt="{{ product.title }}">
  <p class="card-text">
    <strong>{{ product.price | currency: 'USD':'symbol' }}</strong>
  </p>
</div>
<div class="card-footer" *ngIf="showActions && shoppingCart" style="background-color: whitesmoke">
  <button
    *ngIf="shoppingCart.getQuantity(product) === 0; else updateQuantity"
    (click)="addToCart(product)"
    class="btn btn-dark btn-block">
    Add to cart
  </button>
  <ng-template #updateQuantity>
    <product-quantity
      [product]="product"
      [shopping-cart]="shoppingCart">

    </product-quantity>
  </ng-template>
</div>
</div>
