<div class="col-12">
  <div class="row">
    <div class="col-12">
      <p>
        <a routerLink="/admin/products/new" class="btn btn-dark">+ New Products</a>
      </p>

      <p>
        <input #query (keyup)="updateFilter($event)" type="text" class="form-control" placeholder="Search...">
      </p>
    </div>
  </div>
<div class="row">
  <div class="col-12">
  <ngx-datatable
    class="material"
    [rowHeight]="'auto'"
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [limit]="10"
    [rows]="products"
    [columns]="productColumn">
  </ngx-datatable>

  <ng-template #actionTemplate let-row="row" let-value="value" let-i="index">
    <a (click)='onEdit(value)'><i class="fa fa-pencil-square-o fa-2x pointer" aria-hidden="true"></i></a>
  </ng-template>
  </div>
</div>
</div>
